/* --- BASE SETTINGS ------------------------------------------------------------------------------ */
html {
  /* --- REMOVE FROM FINAL STYLE SHEET! --- */
  /* debug marker */
  border: 1px solid red;

  /* which font? at least 3 weights req'd, light, regular, bold! */
  /* let's start with Open Sans from local setup -- TODO: integrate with google fonts api! */
  font-family: "Open Sans"; sans-serif;
  /* --- grey text color --- */
  color: #4A4A4A;
}

  /* --- open sans bold and light --- maybe refator later... --- */
  .os_bold { font-weight: 700; }
  .os_light { font-weight: 300; }

/* --- HEADER ( BREADCRUMB / NAVBAR ) ------------------------------------------------------------- */
header {
  display: flex;
  justify-content: space-between;

  height: 64px;
}

/* --- logo --- */
#logo {
  /* debug marker */
  border: 1px solid red;

  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin-left: 24px;
  text-transform: uppercase;
  color: #262626
}

/* --- navigation --- */
nav {
  /* debug marker */
  border: 1px solid red;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-right: 24px;
  margin-left: 24px;
}

nav li {
  display: inline;
  padding: 8px;
}

nav a {
  text-decoration: none;
  color: #4A4A4A;
}

nav a:hover {
  color: blue;
}

.mobile, .mobile nav, .mobile ul, .desktop {
  display: flex;
  width: 100%;
  }
.mobile, .desktop {
  justify-content: space-between;
  }
.mobile ul {
  justify-content: space-around;
  align-content: center;
  }
.mobile nav {
  margin: 0px;
  }

/* --- MAIN SECTION ------------------------------------------------------------------------------- */
.greybackground {
  background-color: #D8D8D8;
}

/* --- SECTION INTRO ( learn something new everyday ) --------------------------------------------- */

/* --- SECTION WWWW ( why, when, where, who )  ---------------------------------------------------- */

/* --- SECTION START ( start learning ) ----------------------------------------------------------- */

/* --- SECTION VIDEO ( thesis exhibits ) ---------------------------------------------------------- */

/* --- FOOTER ------------------------------------------------------------------------------------- */



/* --- RESPONSIVE BREAKS -------------------------------------------------------------------------- */

/* --- navigation -------------------------------------------------------- START --- */



/*@media only screen and (max-width: 480px) {*/
@media only screen and (max-width: 840px) {
  div.desktop {
    display: none;
   }
	}
/*@media only screen and (min-width: 481px) {*/
@media only screen and (min-width: 841px) {
  div.mobile {
    display: none;
   }
  }
/* --- navigation ---------------------------------------------------------- END --- */
